body{ 

   background-color: #e0b9b1;
}
.cart-page{
    margin: 80px 150px;
}
table{
    width:100%;
    border-collapse: collapse;
    text-align: left;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}
td img{
    width:fit-content;
    height: 80px;
    margin-right: 10px;
}
th{
    text-align:left;
    padding:10px 5px;
    color:#fff;
    font-weight: normal;
    background: #ff523b;
}
td{
    padding: 10px 5px;
}
td input{
    width:40px;
    height: 30px;
    padding: 5px;
    border: none;
}
td a{
    color: #ff523b;
    font-size: 12px;
}

